#title {
  background-color: #ff4c68;
}

#features {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat-black', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  padding: 40px 0 20px;
}

h2 {
  font-family: 'Montserrat-black', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 5%;
}

.navbar-brand {
  font-size: 40px;
  font-family: "Ubuntu";
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.rotateimg30 {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.fa-4x {
  padding: 20px;
  margin-left: 40px;
  color: #ef8172;
}

.fa-4x:hover {
  color: #ff4c68;
}

.row {
  padding: 20px;
}

#testimonials {
  text-align: center;
  background-color: #ff4c68;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 20px;
  text-align: center;
}

.pricing-column {
  padding: 2% 3%;
}

@media (max-width:1028px) {
  .rotateimg30 {
    position: static;
    text-align: center;
    transform: rotate(0);
  }
}

#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

#footer {
  text-align: center;
  padding-top: 4%;
}

i {
  margin: 20px;
}
